<button type="submit" routerLink="/admin/products" class="btn btn-primary mr-2">Create Product</button>


<h3>Total Products :: {{products.length}}</h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Id</th>
    <th scope="col">Product Code</th>
    <th scope="col">Product Name</th>
    <th scope="col">Status</th>
    <th scope="col">Image</th>
    <th scope="col">Color</th>
    <th scope="col">Size</th>
    <th scope="col">Category</th>
    <th scope="col">Price</th>
    <th scope="col">Sale</th>
    <th scope="col">Brand</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td><input type="checkbox"> </td>
    <td>{{product.id}}</td>
    <td><a routerLink="/products">{{product.code}}</a></td>
    <td>{{product.name}}</td>
    <td><span class="badge badge-success">Active</span></td>
    <td><img style="width: 100px;height: 100px" class="rounded" src="{{product.image}}"/></td>
    <td>{{product.color}}</td>
    <td>{{product.size}}</td>
    <td><span class="badge badge-success" *ngFor="let category of product.categories">
      {{category}}
    </span>
    </td>
    <td>{{product.price}}</td>
    <td>{{product.salePrice}}</td>
    <td>{{product.brand}}</td>
  </tr>
  </tbody>
</table>
