
<div class="container-fluid">

  <hr>

  <h4>
    Checkout
  </h4>

  <div class="col-xs-8">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Billing">
        <ng-template ngbPanelContent>
          <div>
            <input type="text" placeholder="First Name">
          </div>
          <div>
            <input type="text" placeholder="Last Name">
          </div>
          <div>
            <input type="text" placeholder="Address">
          </div>
          <div>
            <input type="text" placeholder="Address line 2">
          </div>
          <div>
            <input type="text" placeholder="Zip code">
          </div>
          <div>
            <input type="text" placeholder="City">
          </div>
          <div>
            <input type="text" placeholder="State">
          </div>
          <div>
            <input type="text" placeholder="Phone no.">
          </div>
          <div>
            <input type="text" placeholder="Email">
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Shipping</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div>
            <input type="text" placeholder="First Name">
          </div>
          <div>
            <input type="text" placeholder="Last Name">
          </div>
          <div>
            <input type="text" placeholder="Address">
          </div>
          <div>
            <input type="text" placeholder="Address line 2">
          </div>
          <div>
            <input type="text" placeholder="Zip code">
          </div>
          <div>
            <input type="text" placeholder="City">
          </div>
          <div>
            <input type="text" placeholder="State">
          </div>
          <div>
            <input type="text" placeholder="Phone no.">
          </div>
          <div>
            <input type="text" placeholder="Email">
          </div>
          <h5>Delivery Options</h5>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Payment" [disabled]="true">
        <ng-template ngbPanelContent>
        Payment FIELDS
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Preview Order">
        <ng-template ngbPanelContent>
          Preview Order
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-xs-4" style="background-color: rgba(0,0,0,.03);">
    <h5>My Shopping Bag</h5>
  </div>
</div>
