<form class="forms-sample">
  <div class="form-group row">
    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">User Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username">
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary mr-2">Submit</button>
  <button class="btn btn-light">Cancel</button>
</form>



<div class="card">
  <div class="card-body">
    <h4 class="card-title">Customer Information</h4>
    <form class="form-sample">
      <p class="card-description">
        Personal info
      </p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-9">
              <select class="form-control">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Date of Birth</label>
            <div class="col-sm-9">
              <input class="form-control" placeholder="dd/mm/yyyy">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-9">
              <select class="form-control">
                <option>Category1</option>
                <option>Category2</option>
                <option>Category3</option>
                <option>Category4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Guest</label>
            <div class="col-sm-4">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                  Free
                  <i class="input-helper"></i></label>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                  Professional
                  <i class="input-helper"></i></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="card-description">
        Address
      </p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Address 1</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">State</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Address 2</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Postcode</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">City</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Country</label>
            <div class="col-sm-9">
              <select class="form-control">
                <option>America</option>
                <option>Italy</option>
                <option>Russia</option>
                <option>Britain</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


Customers List
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Customer #</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">City</th>
    <th scope="col">State</th>
    <th scope="col">Zip</th>
    <th scope="col">Guest</th>
    <th scope="col">Order History</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Cust001</td>
    <td>Kapil</td>
    <td>Kataria</td>
    <td>123-122-1233</td>
    <td>test@valid.com</td>
    <td>Pleasanton</td>
    <td>California</td>
    <td>94928</td>
    <td>No</td>
    <td>View</td>
  </tr>
  </tbody>
</table>
