<h3>Create Admin User</h3>
<form class="forms-sample" #adminuser="ngForm" (ngSubmit)="createAdminUser(adminuser)"  novalidate>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">User Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="adminuser.username" name="username"  placeholder="Username">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="adminuser.name" name="name" placeholder="name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" [(ngModel)]="adminuser.email" name="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" [(ngModel)]="adminuser.password" name="password" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Re Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" [(ngModel)]="adminuser.repassword" name="repassword"  placeholder="Re Password">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Role</label>
    <div class="col-sm-9"><input type="text" [(ngModel)]="adminuser.roles" name="roles"  class="form-control" placeholder="roles">
    </div>
  </div>
  <button type="submit" class="btn btn-primary mr-2">Submit</button>
  <button class="btn btn-light">Cancel</button>
</form>
