<section class="product-section">
  <hr>
  <div class="container">
    <div class="back-link">
      <a href="#" [routerLink]="['/category','HOME01']"> &lt;&lt; Back to Category</a>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="product-pic-zoom">
          <img class="product-big-img" src="{{product.image}}" alt="">
        </div>
      </div>
      <div class="col-lg-6 product-details">
        <h2 class="p-title">{{product.name}}</h2>
        <h3 class="p-price">${{product.price}}</h3>
        <h3 class="p-price">{{product.color}}</h3>
        <h3 class="p-price">{{product.size}}</h3>
        <div class="input-group" style="width: 120px">
                <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                </span>
          <input maxlength="2" style="width: 50px" type="text" name="quant[1]" class="form-control input-number"
                 value="1" min="1" max="10">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                </span>
        </div>
        <h4 class="p-stock">Available: <span>In Stock</span></h4>
        <a href="#" class="site-btn">SHOP NOW</a>
        <div id="accordion" class="accordion-area">
          <div class="panel">
            <div class="panel-header" id="headingOne">
              <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                      aria-controls="collapse1">DETAILS</button>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="panel-body">
                <ul>
                  <li> <p>{{product.description}}</p></li>
                  <li> <p>{{product.brand}}</p></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-header" id="headingThree">
              <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                      aria-controls="collapse2">shipping & Returns</button>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="panel-body">
                <h4>7 Days Returns</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
