<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a href="./index.html" class="site-logo">
            <img src="img/logo.png" alt="LOGO">
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
            <input id="typeahead-basic" type="text" class="form-control" [resultFormatter]="formatter" [ngbTypeahead]="search"/>
           </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile"></i>
              <a href="#">Sign</a> In or <a href="#">Create Account</a>
            </div>
            <div class="up-item">
              <div class="shopping-card">
                <i class="flaticon-bag"></i>
                <span>0</span>
              </div>
              <a href="#" [routerLink]="['/cart']">Shopping Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
         <li *ngFor="let cat of topcategories">
           <a [routerLink]="['/category',cat.code]" href="#">{{cat.name}}</a>
         </li>
         <li><a href="#">Sale</a>
           <ul class="sub-menu">
             <li><a href="#">30% Off</a></li>
             <li><a href="#">50% Off</a></li>
             <li><a href="#">Clearance</a></li>
           </ul>
         </li>
       </ul>
     </div>
   </nav>
 </header>
