<h4>Create Product</h4>
<div class="forms-sample">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Product Code</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="product code">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Product Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="product name">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Short Description</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="short description">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Active</label>
    <div class="col-sm-9">
      <input type="checkbox" class="form-check-input"  value="" checked="">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Date Range</label>
    <div class="col-sm-9">
      <div class="col-lg-6">Start Date : <input type="date" class="form-check-input"></div>
      <div class="col-lg-6">End Date :  <input type="date" class="form-check-input"></div>
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Long Description</label>
    <div class="col-sm-9">
      <textarea rows="4" class="form-control" placeholder="long description"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Image</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="image url">
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">SKU</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="SKU">
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Color</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="color">
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Size</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="size">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Price</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="price">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Stock</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="stock">
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Keywords</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="keywords">
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Categories</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="categories">
    </div>
  </div>

  <button type="submit" class="btn btn-primary mr-2">Submit</button>
  <button class="btn btn-light">Cancel</button>
</div>
