<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Menu</h3>
  </div>

  <ul class="list-unstyled">
    <p>Heading</p>
    <li class="active">
      <a href="#categories">Categories</a>
    </li>
    <li>
      <a href="#">Products</a>
    </li>
    <li>
      <a href="#">Customers</a>
    </li>
    <li>
      <a class="nav-link" href="#">Orders</a>
    </li>
    <li>
      <a href="#">Configs</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Reports</a>
    </li>
    <li>
      <a href="#">Templates</a>
    </li>
    <li>
      <a href="#">Marketing</a>
    </li>
    <li>
      <a href="#">Admin Users</a>
    </li>
    <li>
      <a href="#">Integrations</a>
    </li>
  </ul>
</nav>
