<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Menu</h3>
  </div>

  <ul class="list-unstyled">
    <p>Heading</p>
    <li class="active">
      <a routerLink="categories">Categories</a>
    </li>
    <li>
      <a routerLink="productlist">Products</a>
    </li>
    <li>
      <a routerLink="customerlist">Customers</a>
    </li>
    <li>
      <a routerLink="orderslist">Orders</a>
    </li>
    <li>
      <a routerLink="configs">Configs</a>
    </li>
    <li>
      <a routerLink="services">Services</a>
    </li>
    <li>
      <a routerLink="reports">Reports</a>
    </li>
    <li>
      <a routerLink="templates">Templates</a>
    </li>
    <li>
      <a routerLink="marketing">Marketing</a>
    </li>
    <li>
      <a routerLink="adminusers">Admin Users</a>
    </li>
    <li>
      <a routerLink="integrations">Integrations</a>
    </li>
    <li>
      <a routerLink="searchlist">Search</a>
    </li>
  </ul>
</nav>
